[submodule "GLAZE-WM-make-windows-pretty-main-dizzi"]
	path = GLAZE-WM-make-windows-pretty-main-dizzi
	url = https://github.com/dizzi1222/GLAZE-WM-make-windows-pretty-main-dizzi
[submodule "FCTicService.github.6c-Diego-05"]
	path = FCTicService.github.6c-Diego-05
	url = https://github.com/dizzi1222/FCTicService.github.6c-Diego-05
[submodule "Just-coding"]
	path = Just-coding
	url = https://github.com/dizzi1222/Just-coding
[submodule "Librezam"]
	path = Librezam
	url = https://github.com/dizzi1222/Librezam
[submodule "Proyecto-App-MCSD"]
	path = Proyecto-App-MCSD
	url = https://github.com/dizzi1222/Proyecto-App-MCSD
[submodule "REACT-Diego-Dizzi-Dashboard"]
	path = REACT-Diego-Dizzi-Dashboard
	url = https://github.com/dhardi007/REACT-Diego-Dizzi-Dashboard
[submodule "portfolio-terminal-dhardi"]
	path = portfolio-terminal-dhardi
	url = https://github.com/dizzi1222/portfolio-terminal-dhardi.git
